<ul class="react-list">
    <li>
        <a href="#"><img src="~/assets/images/react/react-1.png" alt="Like"></a>
    </li>
    <li>
        <a href="#"><img src="~/assets/images/react/react-2.png" alt="Like"></a>
    </li>
    <li>
        <a href="#"><img src="~/assets/images/react/react-3.png" alt="Like"></a>
    </li>
    <li>
        <a href="#"><img src="~/assets/images/react/react-4.png" alt="Like"></a>
    </li>
    <li>
        <a href="#"><img src="~/assets/images/react/react-5.png" alt="Like"></a>
    </li>
    <li>
        <a href="#"><img src="~/assets/images/react/react-6.png" alt="Like"></a>
    </li>
    <li>
        <a href="#"><img src="~/assets/images/react/react-7.png" alt="Like"></a>
    </li>
</ul>